---
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title: 'Straightforward Growth | Consulting expertise with a twist',
    description:
      'Deep analytical expertise, combined with pragmarpatic systems and processes to business problems.',
  }}
>
  <section class="region wrapper flow prose" style="--measure: 75ch;"></section>
</Layout>
